@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  color: #17211b;
  background-color: #f7faf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}